

.container{
    font-family: "Quicksand", serif;
     font-style: normal;
     width: 100%;
     max-width: 90%;
     margin: 0 auto;
     padding: 10px 5px;
    
  }
  button{
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo{
    width: 25%;
    display: flex;
  }
  .logo img{
    width: 50px;
    height: 50px;
  }
  .nav-items{
    display: flex;
    gap: 1rem;
    margin-right: 1.7rem;
  }
  .nav-item{
    list-style: none;
    
  }
  .nav-link{
    text-decoration: none;
  }
  .nav-button{
    background-color: orange;
    color: white;
  }

  /* banner section  */
  .banner-section{
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem;
  }
  .banner-content{
    width: 40%;
   
  }
  .banner-img{
    width: 40%;
  }
  .banner-img img{
    width: 275px;
    height: 270px;
    
  }
  .banner-btn{
    background-color: black;
    color: white;
  }

  /* curriculum section start here  */
.curriculum-section{
    background: url(assets/bg.png);
    
}

.cards{
    gap: 1rem;
    padding: 0.5rem;
    text-align: center;

}
  .curi-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 0.5rem;
  }
  .card{
    border-radius: 0.5rem;
    box-shadow: 3px 3px 6px white;
  }
  .card{
   background: linear-gradient(180deg,white,rgb(150, 138, 138));
   box-shadow: ;
  }
  main{
    background:linear-gradient(90deg,rgb(129, 199, 199),rgb(241, 231, 241))
  }
  .card button{
    background-color: transparent;
    color: green;
  }

  .arrow-section{
   text-align: center;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  hr{
    max-width: 4rem;
   height: 0.1rem;
   background-color: blanchedalmond;
  }
  i{
    font-size: 2rem;
    margin: 1rem;
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    align-items: center;
  }